@import 'initial-variables';
@import 'functions';

$colors: (
  // Basic Color
  'primary': $primary,
  'info': $info,
  'success': $success,
  'warning': $warning,
  'danger': $danger,

  'light': $light,
  'dark': $dark,

  // Invert colors
  'primary-invert': findColorInvert($primary),
  'primary-light': findLightColor($primary),
  'primary-dark': findDarkColor($primary),

  'info-invert': findColorInvert($info),
  'info-light': findLightColor($info),
  'info-dark': findDarkColor($info),

  'success-invert': findColorInvert($success),
  'success-light': findLightColor($success),
  'success-dark': findDarkColor($success),

  'warning-invert': findColorInvert($warning),
  'warning-light': findLightColor($warning),
  'warning-dark': findDarkColor($warning),

  'danger-invert': findColorInvert($danger),
  'danger-light': findLightColor($danger),
  'danger-dark': findDarkColor($danger),

  'light-invert': findColorInvert($light),
  'dark-invert': findColorInvert($dark),

  // General colors
  'white': $white,
  'white-bis': $white-bis,
  'white-ter': $white-ter,
  'black': $black,
  'black-bis': $black-bis,
  'black-ter': $black-ter,

  // Gray Color
  'gray-darker': $gray-darker,
  'gray-dark': $gray-dark,
  'gray': $gray,
  'gray-light': $gray-light,
  'gray-lighter': $gray-lighter,
  'gray-lightest': $gray-lightest,

  // Misc
  'code': darken($danger, 15%),
);

$background: color('white-ter');

$border: color('gray-lighter');
$border-hover: color('gray-light');
$border-light: color('gray-lightest');
$border-light-hover: color('gray-light');

// Text colors
$text: color('gray-dark');
$text-invert: findColorInvert($text);
$text-light: color('gray');
$text-strong: color('gray-darker');

// Code colors
$code: color('code');
$code-background: $background;

$pre: $text;
$pre-background: $background;

// Link colors
$link: color('primary');
$link-invert: color('primary-invert');
$link-light: color('primary-light');
$link-dark: color('primary-dark');
$link-visited: color('primary-dark');

$link-hover: color('gray-darker');
$link-hover-border: color('gray-light');

$link-focus: color('gray-darker');
$link-focus-border: color('primary');

$link-active: color('gray-darker');
$link-active-border: color('gray-dark');

// Typography
$family-primary: $family-sans-serif;
$family-code: $family-monospace;

$size-small: $size-7;
$size-normal: $size-6;
$size-medium: $size-5;
$size-large: $size-4;

// Effects
$shadow: 0 0.5em 1em -0.125em rgba(color('black'), 0.1), 0 0px 0 1px rgba(color('black'), 0.02);

// Size Title
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7;
