@import 'initial-variables';
@import 'functions';

$colors: (
  // Basic Color
  'primary': (
    'main': $primary,
    'invert': findColorInvert($primary),
    'light': findLightColor($primary),
    'dark': findDarkColor($primary),
  ),

  'success': (
    'main': $success,
    'invert': findColorInvert($success),
    'light': findLightColor($success),
    'dark': findDarkColor($success),
  ),

  'info': (
    'main': $info,
    'invert': findColorInvert($info),
    'light': findLightColor($info),
    'dark': findDarkColor($info),
  ),

  'warning': (
    'main': $warning,
    'invert': findColorInvert($warning),
    'light': findLightColor($warning),
    'dark': findDarkColor($warning),
  ),

  'danger': (
    'main': $danger,
    'invert': findColorInvert($danger),
    'light': findLightColor($danger),
    'dark': findDarkColor($danger),
  ),

  // General colors
  'white': (
    'main': $white,
    'bis': $white-bis,
    'ter': $white-ter,
  ),

  'black': (
    'main': $black,
    'bis': $black-bis,
    'ter': $black-ter,
  ),

  // Gray Color
  'gray': (
    'darker': $gray-darker,
    'dark': $gray-dark,
    'main': $gray,
    'light': $gray-light,
    'lighter': $gray-lighter,
    'lightest': $gray-lightest,
  ),
) !default;

$background: color('white-ter') !default;

$border: color('gray-lighter') !default;
$border-hover: color('gray-light') !default;
$border-light: color('gray-lightest') !default;
$border-light-hover: color('gray-light') !default;

// Text colors
$text: color('gray-dark') !default;
$text-invert: findColorInvert($text) !default;
$text-light: color('gray') !default;
$text-strong: color('gray-darker') !default;

// Code colors
$code: darken($danger, 15%) !default;
$code-background: $background !default;

$pre: $text !default;
$pre-background: $background !default;

// Link colors
$link-parent: $primary !default;
$link: color('primary') !default;
$link-invert: color('primary-invert') !default;
$link-light: color('primary-light') !default;
$link-dark: color('primary-dark') !default;
$link-visited: color('primary-dark') !default;

$link-hover: color('gray-darker') !default;
$link-hover-border: color('gray-light') !default;

$link-focus: color('gray-darker') !default;
$link-focus-border: color('primary') !default;

$link-active: color('gray-darker') !default;
$link-active-border: color('gray-dark') !default;

// Typography
$family-primary: $family-sans-serif !default;
$family-code: $family-monospace !default;

$size-small: $size-7 !default;
$size-normal: $size-6 !default;
$size-medium: $size-5 !default;
$size-large: $size-4 !default;

// Effects
$shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1), 0 0px 0 1px rgba(0, 0, 0, 0.02) !default;

// Size Title
$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
