@import '../core';

section {
  position: relative;
  z-index: 1;
  overflow: hidden;

  &:not(.hero) {
    padding: 3rem 0;
  }

  &.important-section {
    // padding: 4.5rem 0;
    // margin-top: 100vh;
    border-top: 6px solid var-color(--main);
    background: var-color(--white);
  }
  
  &.access-section,
  &.posts-section {
    background: var-color(--mode-200);
  }
}

.heading {
  text-align: center;
  max-width: 520px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
  color: var-color(--mode-700);
}

.sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
  &.reverse {
    flex-direction: row-reverse;
  }

  .image {
    position: relative;
    margin: auto;
  }

  .content {
    max-width: 580px;
    padding: 20px;
    margin: auto;
  }

  h2 {
    margin-bottom: 1rem;
  }

  .btn {
    margin: .5rem auto auto 0;
  }
}

.profil-sec {
  .image {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: -20px;
      z-index: -1;
      width: 80%;
      height: 80%;
      background: var-color(--main, .075);
      border-radius: 10px;
    }
  }

  img {
    border-radius: 6px;
    box-shadow: 0 10px 30px var-color(--main, .3);
    max-width: 320px;
    max-height: 320px;
    margin: 40px 30px 40px 50px;
  }

  ul {
    position: absolute;
    bottom: 0;
    left: 15px;
    background: var-color(--white);
    padding: 12px 18px;
    border-radius: 6px;
    box-shadow: -10px 10px 20px var-color(--main, .15);
    color: var-color(--mode-800);

    li {
      padding: 6px;
    }
    
    i {
      margin-right: 6px;
    }
  }
}

@media (max-width: 425px) {
  .profil-sec {
    .image {
      &::before {
        right: -30px;
        width: 100%;
      }
    }
    
    img {
      margin: 30px 0px 50px 0;
    }
  }
}

.featured-section {
  &.is-embed {
    padding-top: 190px;
    background: var-color(--mode-200);
    padding-bottom: 0;
    margin-bottom: 3rem;

    .embed {
      max-width: 650px;
      margin: auto;
      border-radius: 4px;
      transform: translateY(-50%);
      margin-bottom: -150px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, .14);
    }
  }

  .play-button {
    position: absolute!important;
    background: var-color(--main);
    padding: 10px 15px 10px 25px;
    border: 2px solid var-color(--white);
    border-radius: 6px;
    z-index: 1;

    i {
      font-size: 20px;
      color: var-color(--white);
    }
  }

  .overlay-embed {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(var-color(--black, .2), var-color(--black, .6));
  }

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 10px solid var-color(--white);
  }

  .featured-landing {
    background: var-color(--white);
  }

  .yt-landing {
    flex-direction: column;

    h1 {
      margin: 0 auto 1rem;
    }

    .content {
      max-width: 600px;
      text-align: center;
    }
  }

  .posts {
    margin-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 680px) {
  .featured-section {
    &.is-embed {
      padding-top: calc(25% + 20px);
  
      .embed {
        margin-bottom: calc(-22%);
      }
    }
  }
}

.ekstra-sec {
  img {
    width: 100%;
    height: auto;
  }
  
  .image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 420px;
    margin-top: 60px;
  }

  .extra-div {
    background: var-color(--white);
    box-shadow: 0 20px 40px rgba(0, 0, 0, .14);
    border-radius: 6px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    margin: 8px;
    text-align: center;

    &:nth-child(3n+1) {
      margin-top: -60px;
      height: 100%;
    }

    &:nth-child(3n) {
      margin-top: -30px;
      height: 100%;
    }
  }

  h3 {
    color: var-color(--mode-600);
    font-size: $font-size-base * 1.125;
    margin: 4px auto 10px;
  }
}

.post-sec {
  margin: 60px 0 40px;
  display: flex;
  align-items: center;
  flex-direction: column;

  .btn {
    margin: 40px 0 0;
  }
}