@import '../core/mixins';

%flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

%element {
  margin-bottom: 16px;
}

section {
  &.post-page {
    background: color('white-ter');
  }
}

.box {
  &.wrap-breadcrumb {
    padding: 10px 20px;

    @extend %element;
  }
}

.post-title {
  @extend %flex;

  flex-direction: column;
  min-height: 320px;
  max-width: 720px;
  margin: auto;
  text-align: center;
  
  .top-desc {
    margin: auto auto 0;
  }
  
  > .title {
    color: color('gray-dark');
  }

  .avatar {
    align-items: center;
  }
  
  .desc {
    @extend %flex;

    margin: 0 auto auto;
    justify-content: space-between;
    max-width: 520px;
    width: 100%;
  }

  .media-content {
    @extend %flex;

    flex-direction: column;
    text-align: left;
    align-items: flex-start;
  }

  .data-post {
    @extend %flex;

    justify-content: space-around;
    text-align: left;

    span {
      display: block;

      &:first-child {
        font-weight: $weight-semibold;
      }
    }

    > *:not(:last-child) {
      margin-right: 16px;
    }

    > .btn:not(:last-child) {
      margin-right: 6px;
    }
  }
}

.content-wrap {
  @extend %flex;

  align-items: flex-start;
  justify-content: space-between;
}

.reactions {
  @extend %flex;

  justify-content: center;
  margin: 20px auto;

  &.has-react .react:not(.active) .img-react {
    opacity: .5;
    filter: grayscale(100%);
  }

  .react {
    margin: 10px;
    text-align: center;

    &.like .img-react {
      background-position: 0 0;
    }
    &.love .img-react {
      background-position: -52px 0;
    }
    &.thankful .img-react {
      background-position: -314px 0;
    }
    &.haha .img-react {
      background-position: -104px 0;
    }
    &.wow .img-react {
      background-position: -156px 0;
    }
    &.sad .img-react {
      background-position: -208px 0;
    }
    &.angry .img-react {
      background-position: -260px 0;
    }
  }

  .action-react {
    overflow: hidden;
    border-radius: $radius-rounded;
    padding: 8px;
    border: 2px solid transparent;
    transition: all .4s ease;
    background: color('white');
    cursor: pointer;
    
    &:hover {
      border: 2px solid color('primary');
      background: color('gray-lightest');
    }

    .img-react {
      display: block;
      height: 48px;
      width: 48px;
      background-image: url('https://assets.medinnna.com/facebook-reactions.gif');
      background-repeat: no-repeat;
      background-size: auto;
    }
  }
}

.tag-post {
  .title {
    margin: 4px 0!important;
  }
}

.share-post {
  margin: 20px 0 0;

  .title {
    margin-bottom: 10px;
  }

  .btn-group {
    margin-bottom: 0;
  }

  .share-copy {
    @extend %flex;

    label {
      display: none;
    }

    .field {
      width: 100%;
      max-width: 420px;
      margin: 0;
    }

    .btn {
      margin-left: 10px;
    }
  }
}

.prev-next {
  @extend %flex;
  @extend %element;

  > * {
    @extend %flex;
    flex-wrap: nowrap!important;
    color: color('gray-dark');
    max-width: 320px;
    border-radius: $radius-large;
    padding: 10px;
  }

  .prev {
    margin: 10px auto 10px 0;
    text-align: left;

    .subtitle {
      margin: 0 0 0 10px!important;
    }
  }
  
  .next {
    margin: 10px 0 10px auto;
    text-align: right;

    .subtitle {
      margin: 0 10px 0 0!important;
    }
  }

  .icon {
    color: color('gray-lighter');
  }
}

.related-post {
  @extend %element;

  > .title {
    text-align: center;
    margin-bottom: 14px;
  }
}

.comment {
  .status {
    position: relative;
    z-index: 1;
    margin-top: -24px;

    .tag {
      width: 100%;
      max-width: 96px;
      background-color: color('black', .5)!important;
    }
  }

  .comment-header {
    @extend %flex;

    justify-content: space-between;
    margin-bottom: 6px;
  }

  .reply {
    margin: 10px auto 10px 0;
  }

  .media-left {
    .image {
      border-radius: $radius-large;
      overflow: hidden;
    }
  }

  .comment-icon {
    @extend %flex;

    > *:not(:first-child) {
      margin-left: 10px;
    }
  }

  .not-login,
  .form-comment {
    margin: 20px 0 0;
  }

  .form-comment {
    form {
      @extend %flex;

      flex-direction: column;
    }

    .btn-group {
      margin: 14px 0;

      > *:nth-child(1) {
        margin: 0 5px 0 auto;
      }

      > *:nth-child(2) {
        margin: 0 auto 0 5px;
      }
    }
  }
}