@import '../core/mixins';

// Navigation
%flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: color('primary');
  color: white;

  ul {
    @extend %flex;
    justify-content: flex-end;
    max-height: 32px;
    overflow: hidden;
  }

  li {
    margin: 2px 5px 4px;
  }

  .tag {
    background-color: color('primary')!important;
    color: color('primary-invert')!important;
    transition: all .3s ease;
    
    &:hover {
      text-decoration: none;
      background-color: color('primary-dark')!important;
    }
  }
}

.main-nav,
.content-nav {
  box-shadow: 0 5px 40px color('black', .14);
  transition: top .5s cubic-bezier(0.19,1,0.22,1);
}

.logo,
.user-avatar {
  @extend %flex;
  padding: 6px;
  border-radius: $radius;
  margin: 4px;
  overflow: hidden;
}

.logo {
  img {
    max-width: 37px;
  }

  .title {
    max-width: 120px;
    line-height: 1;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.user-avatar {
  border: 0;
  background: color('white');
  text-align: inherit;
  cursor: pointer;

  .image {
    height: 42px;
    width: 42px;
    border-radius: $radius;
    overflow: hidden;
  }

  .user-name {
    margin-left: 10px;
  }

  .title {
    max-width: 110px;
  }

  .subtitle {
    max-width: 80px;
  }
}

.main-nav {
  position: fixed;
  top: 32px;
  z-index: 1;
  width: 100%;
  background: color('white');
  box-shadow: 0 5px 40px color('black', .14);

  &.active {
    top: 0;
  }

  .wrap-nav {
    @extend %flex;
    justify-content: space-between;
  }

  ul {
    &.mobile {
      display: none
    }
  }

  .menu-action {
    ul {
      @extend %flex;
    }

    li:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.content-nav {
  position: fixed;
  top: 98px;
  width: 100%;
  background: color('white');

  .top-avatar {
    display: none;
  }

  &.active {
    top: 66px;
  }

  &.hide {
    top: -10px;
  }

  .main-menu > li {
    &:hover {
      span a {
        &::before {
          left: 10px;
          right: 10px;
        }
      }
    }

    > span a {
      &::before {
        background: color('primary');
        content: '';
        display: block;
        position: absolute;
        left: 100%;
        right: 100%;
        bottom: -1px;
        height: 2px;
        transition: all .3s ease-in-out;
      }
    }
  }

  a {
    color: color('gray-dark');
    padding: 10px 14px;
    display: block;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0px;
    min-width: 10em;

    ul {
      margin: 4px 0 0;
      padding: 0px;
      min-width: 10em;
      background: #fff;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      z-index: 4;
      box-shadow: 0 2px 2.2rem -1rem color('black', .1);
      transition: all .4s cubic-bezier(.47,1.64,.41,.8);
      top: 100%;
      transform: scale(0.9);
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }
  }

  .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      width: 100%;
    }
  }

  li {
    display: block;
    position: relative;
    float: left;

    &:hover {
      background-color: color('white-ter')!important;
    }
  }

  .submenu {
    &:hover {
      > ul {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
      }
    }
  }

  button:not(.user-avatar) {
    display: none;
  }

  .submenu-item {
    li {
      background-color: color('white');
      width: 100%;
    }
  }
}

.mobile-action {
  display: none;
  position: fixed;
  bottom: -60px;
  width: 100%;
  background: white;
  border-top: 5px solid RGB(var(--primary));
  transition: bottom .5s cubic-bezier(.19,1,.22,1);

  &.active {
    bottom: 0;

    .toggle-show {  
      i {
        transform: rotate(180deg);
      }
    }
  }

  .wrap-action {
    margin-right: 70px;
    border-right: 1px solid color('white-lighter');
  }

  .action {
    display: flex;
    justify-content: space-around;
    max-width: 320px;
    margin: auto;
    padding: 10px;
    border-radius: 6px 6px 0 0;
  }

  .toggle-show {
    position: fixed;
    bottom: 10px;
    right: 10px;

    i {
      transition: all .4s ease;
    }
  }
}

@media (max-width: 768px) {
  .main-nav {
    ul {
      &:not(.mobile) {
        display: none;
      }

      &.mobile {
        display: block;
      }
    }
  }

  .content-nav {
    z-index: 2;
    max-width: 320px;
    height: 100%;
    overflow: auto;
    top: 0!important;
    left: -360px;
    transition: left .5s cubic-bezier(.19,1,.22,1);

    &.is-open {
      left: 0;
    }

    .top-avatar {
      display: flex;
      background-image: url(https://thumbs.dreamstime.com/b/purple-blue-green-geometric-background-dynamic-shapes-composition-vector-website-pattern-banner-header-sidebar-graphic-149243598.jpg);
      height: 150px;

      .dropdown, .logo {
        margin: auto;
      }

      .user-avatar {
        background: color('white', .6);
        color: color('white');

        .title, .subtitle {
          max-width: 220px;
        }
      }
    }

    .main-menu {
      display: flex;
      flex-direction: column;
    }

    ul ul {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
      position: relative;
    }

    button:not(.user-avatar) {
      display: block;
    }

    .submenu > .menu-item > a .icon{
      display: none;
    }
  }

  .mobile-action {
    display: block;
  }
}

// Main Content
.is-main {
  max-width: calc(100% - 320px - 16px);
  width: 100%;

  .post-footer {
    margin-top: 20px;
  }
}

.is-sidebar {
  max-width: 320px;

  > *:not(:last-child) {
    margin-bottom: 16px;
  }

  .sidebar-recent-post,
  .sidebar-popular-post {
    padding: 20px 0 10px;
  }

  .popular-tags {
    .tag {
      font-size: 14px;
      border: 1px solid transparent;
      background-color: color('primary');
      color: color('primary-invert');
      line-height: 1;

      &:hover {
        border: 1px solid color('primary');
        background: color('white');
        color: color('primary');
      }
    }
  }

  .archives {
    .wrap-archive {
      @extend %flex;
    }

    .archive {
      @extend %flex;
      justify-content: space-between;
      width: 100%;
      color: color('gray-dark');
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='12' viewBox='0 0 4 2'%3E %3Ccircle fill='currentColor' cx='1' cy='1' r='1' /%3E %3C/svg%3E") repeat-x bottom;

      > * {
        background: color('white');
        padding: 0 4px;
      }
    }

    .count {
      &:after {
        content: attr(data-name);
        margin-left: 6px;
        display: inline-block;
      }
    }
  }
}
