$file-border-color: $border !default;
$file-radius: $radius !default;

$file-cta-background-color: color('white-ter') !default;
$file-cta-color: $text !default;
$file-cta-hover-color: $text-strong !default;
$file-cta-active-color: $text-strong !default;

$file-name-border-color: $border !default;
$file-name-border-style: solid !default;
$file-name-border-width: 1px 1px 1px 0 !default;
$file-name-max-width: 16em !default;

$file-colors: $form-colors !default;

.file {
  @extend %unselectable;
  align-items: stretch;
  display: flex;
  justify-content: flex-start;
  position: relative;

  @each $name, $value in $file-colors {
    @if keyInList($allowed-colors, $name) {
      &.#{$name} {
        .file-cta {
          background-color: color($name);
          border-color: transparent;
          color: color('#{$name}-invert');
        }

        &:hover, &.hovered {
          .file-cta {
            background-color: color('#{$name}-dark');
            border-color: transparent;
            color: color('#{$name}-invert');
          }
        }

        &:focus, &.focused {
          .file-cta {
            border-color: transparent;
            box-shadow: 0 0 0.5em color($name, 0.25);
            color: color('#{$name}-invert');
          }
        }

        &:active, &.active {
          .file-cta {
            background-color: color('#{$name}-dark');
            border-color: transparent;
            color: color('#{$name}-invert');
          }
        }
      }
    }
  }

  &.small {
    font-size: $size-small;
  }

  &.normal {
    font-size: $size-normal;
  }

  &.medium {
    font-size: $size-medium;

    .file-icon {
      .fa {
        font-size: 21px;
      }
    }
  }

  &.large {
    font-size: $size-large;

    .file-icon {
      .fa {
        font-size: 28px;
      }
    }
  }

  &.name {
    .file-cta {
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }

    .file-name {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }

    &.empty {
      .file-cta {
        border-radius: $file-radius;
      }

      .file-name {
        display: none;
      }
    }
  }

  &.boxed {
    .file-label {
      flex-direction: column;
    }

    .file-cta {
      flex-direction: column;
      height: auto;
      padding: 1em 3em;
    }

    .file-name {
      border-width: 0 1px 1px;
    }

    .file-icon {
      height: 1.5em;
      width: 1.5em;

      .fa {
        font-size: 21px;
      }
    }

    &.small {
      .file-icon .fa {
        font-size: 14px;
      }
    }

    &.medium {
      .file-icon .fa {
        font-size: 28px;
      }
    }

    &.large {
      .file-icon .fa {
        font-size: 35px;
      }
    }

    &.name {
      .file-cta {
        border-radius: $file-radius $file-radius 0 0;
      }

      .file-name {
        border-radius: 0 0 $file-radius $file-radius;
        border-width: 0 1px 1px;
      }
    }
  }

  &.centered {
    justify-content: center;
  }

  &.fullwidth {
    .file-label {
      width: 100%;
    }

    .file-name {
      flex-grow: 1;
      max-width: none;
    }
  }

  &.right {
    justify-content: flex-end;

    .file-cta {
      border-radius: 0 $file-radius $file-radius 0;
    }

    .file-name {
      border-radius: $file-radius 0 0 $file-radius;
      border-width: 1px 0 1px 1px;
      order: -1;
    }
  }
}

.file-label {
  align-items: stretch;
  display: flex;
  cursor: pointer;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;

  &:hover {
    .file-cta {
      background-color: color('gray-lightest');
      color: $file-cta-hover-color;
    }

    .file-name {
      border-color: color('gray-light');
    }
  }

  &:active {
    .file-cta {
      background-color: color('gray-lightest');
      color: $file-cta-active-color;
    }

    .file-name {
      border-color: color('gray-light');
    }
  }
}

.file-input {
  height: 100%;
  left: 0;
  opacity: 0;
  outline: none;
  position: absolute;
  top: 0;
  width: 100%;
}

.file-cta, .file-name {
  @extend %control;
  border-color: $file-border-color;
  border-radius: $file-radius;
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  white-space: nowrap;
}

.file-cta {
  background-color: $file-cta-background-color;
  color: $file-cta-color;
}

.file-name {
  border-color: $file-name-border-color;
  border-style: $file-name-border-style;
  border-width: $file-name-border-width;
  display: block;
  max-width: $file-name-max-width;
  overflow: hidden;
  text-align: inherit;
  text-overflow: ellipsis;
}

.file-icon {
  align-items: center;
  display: flex;
  height: 1em;
  justify-content: center;
  @include ltr-property("margin", 0.5em);
  width: 1em;

  .fa {
    font-size: 14px;
  }
}