.fast-access {
  flex-wrap: wrap;
  margin: 2rem 0;

  .card {
    width: 100%;
    max-width: 180px;
    padding: 20px;
    margin: 10px;
    border-radius: 6px;
    text-align: center;
    background: var-color(--white);
    box-shadow: 0 25px 40px rgba(0, 0, 0, .1);
    border: 3px solid transparent;
    transition: all .75s ease;

    &:hover {
      box-sizing: border-box;
      border: 3px solid var-color(--main);

      i {
        animation: topBottom 0.3s forwards;
      }
    }
  }

  .image {
    padding: 1.5rem;
    border-radius: 50%;
    background: var-color(--main, .1);
    margin-bottom: 12px;
  }

  i {
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    color: var-color(--mode-800);
  }

  h2 {
    font-size: $font-size-base * 1.25;
    margin-bottom: 2px;
  }
  
  p {
    font-size: 14px;
  }
}

@keyframes topBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}