.card-wrap {
  flex-wrap: wrap;
}

.card-wrap, .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }

  h2 {
    color: var-color(--mode-900);
    font-size: $font-size-base * 1.4;
    margin-bottom: 4px;
  }

  p {
    color: var-color(--mode-700);
    margin: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .btn {
    margin: 0 auto 0 0;
  }

  .to-post {
    background-image: radial-gradient(var-color(--black, .2), var-color(--black, .6));
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .to-icon {
    position: absolute;
    margin: auto;
    z-index: 99;
    padding: 10px;
    border: 3px solid var-color(--white);
    border-radius: 50%;
    color: var-color(--white);
    transition: all .3s ease;
  }
}