.card-wrap.posts {
  .card {
    padding: 12px;
    background: var-color(--white);
    margin: 8px;
    max-width: 340px;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 4px 30px var-color(--black, .14);
  }
  
  .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    border-radius: 4px;
    padding-bottom: percentage(2/3);
    background: var-color(--mode-300);
  }

  &.featured {
    .image {
      padding-bottom: percentage(9/16);
    }
  }

  &:not(.no-anim) {
    .card:hover {
      img {
        transform: scale(1.1);
      }

      .to-post {
        opacity: 1;
      }

      .to-icon {
        opacity: 1;
        transform: scale(1);
      }
    }

    .to-post {
      opacity: 0;
    }

    .to-icon {
      opacity: 0;
      transform: scale(1.3);
    }
  }

  .fa-play {
    margin-left: 4px;
  }

  .fa-file-alt {
    margin: 0 3px;
  }

  img {
    position: absolute;
    transition: all .3s ease;
  }

  .content {
    padding: 14px 4px 6px;
  }

  h2 {
    font-size: $font-size-base * 1.5;
    font-weight: $font-weight-bold;
    margin: 0;
    margin-bottom: 10px;

    &:not(.no-clamp) {
      @include clamp(30px, 1);
    }

    a {
      font-family: $headings-font-family;
      color: var-color(--mode-900);
    }
  }

  p {
    &:not(.no-clamp) {
      @include clamp(64px, 3);
    }
    
    font-size: 1rem;
    line-height: 1.25;
  }

  .desc {
    display: flex;
    font-size: 14px;
    color: var-color(--mode-600);

    &:not(ul) {
      justify-content: space-between;
      width: 100%;
      margin: 12px 0 0;
    }
  }

  .tags a {
    text-decoration: underline;
    display: inline-block;
  }

  .user a {
    border-bottom: 1px dotted currentColor;
    color: currentColor;
  }

  .content i {
    margin-right: 4px;
  }

  li:not(:last-child) {
    margin-right: 12px;
  }
}