@import '../core/mixins';

$notification-background-color: $background !default;
$notification-code-background-color: color('white') !default;
$notification-radius: $radius !default;
$notification-padding: 1.25rem 2.5rem 1.25rem 1.5rem !default;
$notification-padding-ltr: 1.25rem 2.5rem 1.25rem 1.5rem !default;
$notification-padding-rtl: 1.25rem 1.5rem 1.25rem 2.5rem !default;

$notification-colors: $colors !default;
$allowed-colors: ('primary', 'success', 'info', 'warning', 'danger') !default;

.notification {
  @extend %block;

  background-color: $notification-background-color;
  border-radius: $notification-radius;
  position: relative;

  @include ltr {
    padding: $notification-padding-ltr;
  }

  @include rtl {
    padding: $notification-padding-rtl;
  }

  a:not(.button):not(.dropdown-item) {
    color: currentColor;
    text-decoration: underline;
  }

  strong {
    color: currentColor;
  }

  code, pre {
    background: $notification-code-background-color;
  }

  pre code {
    background: transparent;
  }

  & > .delete {
    @include ltr-position(0.5rem);
    position: absolute;
    top: 0.5rem;
  }

  .title, .subtitle, .content {
    color: currentColor;
  }

  @each $name, $value in $notification-colors {
    @if keyInList($allowed-colors, $name) {
      &.#{$name} {
        background-color: color($name);
        color: color('#{$name}-invert');
  
        @if length($value) > 3 {
          &.light {
            background-color: color('#{$name}-light');
            color: color('#{$name}-dark');
          }
        }
      }
    }
  }
}